{% extends 'base_reports.html' %}
{% block body %}

     <div class="jumbotron p-3">
        <div style="margin:10px 0 0 10px; width:600px">
            <h2 style="font-family:Arial;">
                Loads by Months

            </h2>
         </div>
     </div>
<table  border="1" class="table table-bordered table-hover table-striped">
                 <caption>

                 </caption>
                <tr aria-owns="10">

                   <th> Month</th>
                  <th> Total Quantity</th>
                  <th> Fish</th>
                </tr>
                 {% for row in show %}
                <tr>

                    <td>{{row.month}}</td>
                    <td>{{row.total}}</td>
                    <td>{{row.fish_type}}</td>

               {% endfor %}
                </tr>

</table>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% endblock %}